.header {
  border-bottom: 1px solid #e4e3eb;
  background-color: #fff;
  height: 80px;
}

.main-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 50%);
}

.redberry-logo {
  cursor: pointer;
  margin-top: 10px;
}
