.home-content {
  display: flex;
  justify-content: space-around;
  gap: 150px;
  align-items: center;
}

.home-content h1 {
  font-weight: 700;
  font-size: 64px;
}

.categories-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
